* {
  margin: 0;
}

header,
footer {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
header .score-link a {
  text-decoration: none;
  color: hotpink;
}
main,
.score-result {
  margin: 10px 20%;
}
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
p {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
button {
  display: inline;
}
button,
.choice {
  padding: 10px 30px;
  background-color: royalblue;
  border-radius: 1em;
  font-size: 1.1rem;
  color: white;
  border: 0;
  outline: none;
}

.choice {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  display: block;
  margin: 20px 0;
}

button:hover,
.choice:hover {
  background-color: hotpink;
}
.hide {
  display: none;
}

h2 {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

input {
  margin: 0 30px 0 5px;
  padding: 10px 30px;
  border-radius: 0.5em;
  font-size: 1.1rem;
  color: royalblue;
  border: 1px solid royalblue;
  display: inline;
  outline: none;
}
.feedback {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: grey;
}

.high-score-title {
  margin-top: 150px;
  display: block;
}

.score-box li {
  margin: 20px auto;
  padding: 10px 30px;
  background-color: pink;
  border-radius: 0.5em;
  font-size: 1.1rem;
  color: royalblue;
  border: 1.5px solid royalblue;
  justify-content: center;
  list-style: none;
}
.go-back a {
  text-decoration: none;
  color: white;
}
.go-back,
.clear-score {
  margin: 0 10px;
}
.two-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
